{% extends "base.html" %}

{% block app_content %}
<h1>2020 Candidates</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Poll Score</th>
      <th scope="col">Further Reading</th>
    </tr>
  </thead>
  <tbody>
  {% for candidate in response_obj['candidates'] %}
    <tr>
      <td><img class="img-fluid img-thumbnail" style="height: 200px; width: 200px" src="{{ candidate.photo_url }}"></td>
      <td>{{ candidate.name }}</td>
        <td>{{ candidate.poll_score }}</td>
      <td><a href="{{ candidate.bio_link }}">Biography Info</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
