{% extends "base.html" %}

{% block app_content %}

<head>
<!--  <link href=-->
<!--  "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" rel=-->
<!--  "stylesheet" type="text/css" />-->
  <link href=
  "https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css"
  rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

    {% if response_obj is none %}
        <h1>No Upcoming Elections</h1>
    {% else %}
        <h1>Upcoming Elections</h1>

        <table id="election_table" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Election</th>
              <th scope="col">Date</th>
              <th scope="col">Level</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
          {% for election in response_obj['elections'] %}
            <tr>
              <td>{{ election.name }}</td>
              <td>{{ election.date }}</td>
              <td>{{ election.level }}</td>
              <td>{{ election.level_value }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>

    <script>
        function sort_table() {
          $('#election_table').DataTable({
            paging: false,
            searching: false,
            order: [[1, 'asc']]
          });
        };

        sort_table();
    </script>

{% endblock %}
