{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h1>State</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>

<br>
<br>
<br>

<h1>{{ response_obj['state'].upper() }} Senators for the State</h1>

<div class="jumbotron">
    <canvas id="senate" style="width:1024px;height:384px"></canvas>
</div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Party</th>
              <th scope="col">District</th>
                <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
        {% for member in response_obj['senators'] %}
            <tr class="{{ member['color'] }}">
              <td>{{ member['name'] }}</td>
              <td>{{ member['party'] }}</td>
              <td>{{ member['district'] }}</td>
                <td>
                    <a href={{ member['search_string'] }}>News</a>
                </td>
            </tr>
        {% endfor %}
    </table>

<br>
<br>
<br>

    <h1>{{ response_obj['state'].upper() }} House Members for the State</h1>

<div class="jumbotron">
    <canvas id="congress" style="width:1024px;height:384px"></canvas>
</div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Party</th>
              <th scope="col">District</th>
                <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
        {% for member in response_obj['congressmen'] %}
            <tr class="{{ member['color'] }}">
              <td>{{ member['name'] }}</td>
              <td>{{ member['party'] }}</td>
              <td>{{ member['district'] }}</td>
                <td>
                    <a href={{ member['search_string'] }}>News</a>
                </td>
            </tr>
        {% endfor %}
    </table>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
    drawgraph("senate", [{{ response_obj['senate_dems'] }}, {{ response_obj['senate_reps'] }}, {{ response_obj['senate_inds'] }}]);
    drawgraph("congress", [{{ response_obj['house_dems'] }}, {{ response_obj['house_reps'] }}, {{ response_obj['house_inds'] }}]);
</script>

{% endblock %}